.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: saturate(180%) blur(15px);
}

.logo {
  font-size: 1rem;
  font-weight: bold;
}

.buttons {
  display: flex;
  align-items: center;
}

.link {
  font-size: 0.8rem;
  color: #000;
}

.link:not(:first-child) {
  margin-left: 0.8rem;
}

.link:hover {
  color: #00a4dc;
}

@media (min-width: 1200px) {
  .logo {
    font-size: 20px;
  }
  .link {
    font-size: 16px;
  }
}

/* profile */

@media (min-width: 1200px) {
  .header[data-type='about'] {
    flex-direction: column;
    justify-content: center;
    position: static;
    height: 100vh;
    width: 33.3333%;
    background: linear-gradient(0deg, rgba(0, 164, 220, 1) 0%, rgba(1, 87, 116, 1) 100%);
  }

  .header[data-type='about'] .logo {
    font-size: 32px;
    margin-bottom: 1em;
    color: #fff;
  }

  .header[data-type='about'] .link {
    color: #fff;
    opacity: 0.7;
  }

  .header[data-type='about'] .link:hover {
    opacity: 1;
  }
}
